// Navigation Styles here

nav {
    // .test;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px dashed @navigation-border;

    div {
        width: 300px;
        display: flex;
        justify-content: space-between;

        a {
            padding-right: 30px;
            text-decoration: none;
            color: black;
        }
    }


}